.aboutus {
    padding-top: 50px;
    // would be nice to have curved yellow background
    color: $red;
    font-size: 1.2rem;
    font-weight: 600;

    #aboutus {
        padding-bottom: 50px;
    }

    .text{
        padding-top: 10px;
        font-weight: 400;
    }

    .kindness {
        font-size: 2rem;
    }

    .programs {
        padding-bottom: 30px;
    }

    .programHeader {
        font-weight: 800x;
    }

    .programInfo {
        font-weight: 400;
    }

    .textPlug {
        padding-bottom: 50px;
    }
}