.academyInfo{
    padding-top: 50px;
    color: $red;
    font-size: 1.2rem;

    .futureText {
        align-content: center;
    }

    .futureInnovationsImage {
        align-content: center;
    }
}