.center {
    padding-top: 50px;
    // would be nice to have curved yellow background
    color: $red;
    font-size: 1.2rem;
    font-weight: 600;

    #thecenter {
        padding-bottom: 30px;
    }

    .text{
        padding-top: 10px;
        font-weight: 400;
    }
}