.MainBlurb {
    padding-top: 50px;
    height: 100%;
    display: flex;

    .mainMission {
        display: flex;
        align-items: center;
        
        .mainParagraph {
            background-color: rgb(255, 255, 255, .1);
            color: white;
            font-size: 2rem;
        }
    }
}