.mission {
    padding-top: 30px;
    // would be nice to have curved yellow background
    color: $red;
    font-size: 1.2rem;
    font-weight: 600;

    .text{
        padding-top: 10px;
        font-weight: 400;
    }
}